* {
	box-sizing: border-box;
	background-color: #ffffff;
	font-family: Droid Sans;
	margin-bottom: 0;
	padding: 10px;
}

p{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

h1{
	text-align: center;
}

#header,.head,#logo{
	text-align: center;
	background-color: #ffffff;
}

.titles{
	color: blue;
	text-align: center;
}

.questions{
	color: blue;
	text-align: justify;
	padding: 0;
	line-height: 1.5em;
}

.container{
	text-align: center;
	display: block;
	background-color: white;
}

.title,.media{
	text-align: center;
}

.button0,.button1{
	height: 30px;
	width: 120px;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.button0:hover,.button1:hover{
    background: #F8C382;
}

.button0{
	margin-left: 620px;
	margin-bottom: 20px;
}

.button1{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 180px;
	color: black;
}

.content{
	text-align: justify;
	margin-left: 430px;
	width: 500px;
	color: black;
	word-spacing: 0.3em;
}

.links{
	text-align: left;
	background: rgba(0, 0, 0, 0);
}

#ultimo{
	margin: 50px;
	border: 1px dashed red;
}

#media{
	text-align: justify;
}

.maintitle{
	padding-left: 300px;
	text-align: left;
	color: #74276D;
	font-family: Verdana;
}

.links:link{
	text-decoration: none;
	color: black;
}

.links:hover{
	color: orange;
}


/*Thumbnails*/
ul.enlarge{
  list-style-type:none;
}
    
ul.enlarge li{
  display:inline-block;
  position: relative;
  z-index: 0;
  margin:10px 40px 0 20px;
}

ul.enlarge span{
  position:absolute;
  left: -9999px;
}


ul.enlarge img{
  background-color:#eae9d4;
  padding: 6px;
  -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

ul.enlarge li:hover{
  z-index: 50; 
  cursor:pointer;
}

ul.enlarge li:hover span{
  top: -300px;
  left: -20px;
}

ul.enlarge li:hover:nth-child(2) span{
  left: -100px;
}
ul.enlarge li:hover:nth-child(3) span{
  left: -200px;
}

ul.enlarge span img{
padding: 2px;
background: #ccc;
}

ul.enlarge span{
  padding: 10px;
  background:#F8C382;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
  -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
  box-shadow: 0 0 20px rgba(0,0,0, .75);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius:8px;
  font-family: 'Droid Sans', sans-serif;
  font-size:.9em;
  text-align: center;
  color: #495a62;
}



